body {
  margin: 0 auto;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
  font-family: sans-serif;
}
li a {
  display: block;
  color: rgb(99, 94, 94);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.list {
  margin-left: 9%;
}
.l_i {
  font-size: 12px;
}
.main {
  width: 100%;
  opacity: 0.8;
}
strong {
  font-weight: 500;
  font-size: 18px;
  font-family: sans-serif;
}
h1 {
  font-size: 50px;
  font-weight: inherit;
}
h4 {
  font-size: 18px;
  font-weight: inherit;
}
.part1 {
  background-color: rgb(230, 230, 236);
  width: 80%;
  border-radius: 5px;
  font-family: sans-serif;
  margin-left: 10%;
  margin-top: 5%;
}
.inner {
  padding: 40px;
  padding-right: 80px;
  padding-top: 1px;
}
button {
  background-color: #498fd8;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 2%;
}
input {
  border-radius: 5px;
  background-color: white;
  border: 1px #cec6c6 solid;
  padding: 4%;
}
.box {
  float: left;
  border: 1px rgb(209, 205, 205) solid;
  width: 21%;
  height: 270px;
  border-radius: 5px;
}
.b_t {
  padding: 4%;
}
.part2 {
  width: 80%;
  display: inline-block;
  margin-left: 10%;
  margin-top: 2%;
}
.inner1 {
  width: 96%;
  height: 125px;
  margin: 2%;
  background-color: rgb(207, 203, 203);
}
.box:nth-child(2) {
  margin-left: 5%;
}
.box:nth-child(3) {
  margin-left: 5%;
}
.box:nth-child(4) {
  margin-left: 5%;
}
.gap {
  margin-top: 3%;
}
b {
  position: relative;
  top: 40%;
  color: grey;
  left: 35%;
}
.lineA {
  width: 96%;
  height: 130px;
  margin: 2%;
}
h4 {
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 0%;
  margin-top: 12px;
  font-size: 24px;
}
.line_1 {
  margin-top: 0%;
  text-align: center;
  padding-left: 12%;
  padding-right: 18%;
  font-family: sans-serif;
}
.but_on {
  margin-left: 18%;
}
.part3 {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}
.foot {
  font-size: 85%;
}
hr {
  opacity: 0.4;
}
.big {
  width: 100%;
  height: 270px;
}
.click {
  padding: 9px;
  padding-left: 12px;
  padding-right: 12px;
}
@media only screen and (max-width: 1381px) {
  .but_on {
    margin-left: 16%;
  }
  .big {
    height: 280px;
  }
  .box {
    height: 280px;
  }
  @media only screen and (max-width: 1200px) {
    .box:nth-child(3) {
      margin-left: 0%;
      margin-top: 5%;
    }
    .box:nth-child(4) {
      margin-left: 5%;
      margin-top: 5%;
    }
    .box {
      width: 46.5%;
    }
    .but_on {
      margin-left: 24%;
    }
  }
  @media only screen and (max-width: 700px) {
    .but_on {
      margin-left: 16%;
    }
  }
  @media only screen and (max-width: 590px) {
    .but_on {
      margin-left: 14%;
    }
  }
  @media only screen and (max-width: 560px) {
    .but_on {
      margin-left: 12%;
    }
  }
  @media only screen and (max-width: 560px) {
    .but_on {
      margin-left: 28%;
    }
    .box {
      width: 100%;
    }
    .box:nth-child(2) {
      margin-left: 0%;
      margin-top: 5%;
    }
    .box:nth-child(4) {
      margin-left: 0%;
      margin-top: 5%;
    }
  }
  @media only screen and (max-width: 390px) {
    .but_on {
      margin-left: 24%;
    }
  }
  @media only screen and (max-width: 330px) {
    .but_on {
      margin-left: 20%;
    }
  }
  @media only screen and (max-width: 280px) {
    .but_on {
      margin-left: 17%;
    }
  }
}
